{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block user_nav %}
{% endblock %}

{% block extra_scripts %}
{% if let Some(msg) = flash_success %}
<script>
    window.addEventListener('load', () => {
        Swal.fire({
            toast: true,
            position: 'top-end',
            icon: 'success',
            title: '{{ msg }}',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true
        });
    });
</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="content-wrapper animate-slide-up">
    <div class="hero">
        <h1 class="display-3 mb-4">{{ title }}</h1>
        <p class="lead mb-4">{{ message }}</p>
    </div>
</div>
{% endblock %}
